<launch>
  <!-- CHANGE TF ARGS FOR OUR SYSTEM http://wiki.ros.org/navigation/Tutorials/RobotSetup/TF#Transform_Configuration /-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_kinect_broadcaster" args="0.1 0.1 0.1 0 0 0 \/base_link \/camera_link 100" />
 
  <!--we use the kinect sensor as a fake laser scanner /-->
  <include file="kinect_laser.launch" />

  <!--serial communication between arduino and pc via usb /-->
  <node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>

  <node name="base_controller_node" pkg="whale_package" type="base_controller">
  </node>

</launch>
